.v-base-page {
  width: 100vw;
  height: 100vh;
  padding: 24px;
}

.v-main {
  padding: 24px;
}

.v-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v-card-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.v-item {
  margin: 0 8px;
}
