workerd/workerd.capnp
workerd/workers
workerd/*
workerd/*.sqlite
.env
bin/workerd*
vorker
vorker.exe
vvorker
vvorker.exe
.vscode
bin/gost
gost.yaml
.DS_Store

node_modules
tmp
bin/test.zip
