services:
  vvorker:
    image: git.cloud.zhishudali.ink/dicarne/vvorker:latest
    restart: always
    volumes:
      - ./vvorker-data:/app/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - "8888:8888"
      - "8080:8080"
      - "18080:18080"
      - "10080:10080"
    depends_on:
      vvorker-pgsql:
        condition: service_healthy
  redis:
    image: git.cloud.zhishudali.ink/dicarne/redis:8
    restart: always
    ports:
      - "6379:6379"
  mysql:
    image: git.cloud.zhishudali.ink/dicarne/mysql:8.0.39
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=<YOUR_ROOT_PASSWORD>
    ports:
      - 3306:3306

  # vorker-agent:
  #   build: ./
  #   volumes:
  #     # - /tmp/workerd-agent:/var/lib/litefs # if you want to enable litefs, switch to this
  #     - /D/workerd/node1:/workerd # change to your own path
  #     - /F/Source/vorker/vorker:/app/vorker
  #   environment:
  #     - WORKER_URL_SUFFIX=.example.com # worker url = SCHEME://WORKERNAME+WORKER_URL_SUFFIX eg: .example.com
  #     - AGENT_SECRET=123123 # must be same as master
  #     - RUN_MODE=agent
  #     - TUNNEL_HOST=vorker-master
  #     - MASTER_ENDPOINT=http://vorker-master:8888
  #     - NODE_NAME=agent-1 # must be different amone agents
